/* ===============pas touche au css deja present ============= */


.fall {
    z-index: 1;
}
.icon4{
    Width : 20px;
    Height :20px;
    
} 
.selection{
    margin-top: 100px;
}
.flechete{
    height: 30px;
    width: 30px;
    
}
.fall input:focus{
    outline: none !important;
}
.icon5{
height: 30px;
width: 30px;
}
.fas {
    color: blue;
    font-size: 30px;
    
}
body{
    background: #F5F5F5;
   
}
a, .nam{
  text-decoration: none; 
  color: #C7C7C7;
   
}
.mina a:hover, .accordion-header:hover, .nam:hover
{
    background: #F0F7FF;
    color: aqua;
}
.mina a.active{
    background: #F0F7FF;
    color: aqua ;
}
.test a:hover, .test a.active{
    background: #F0F7FF;

}

.site{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 50px;
height: 620px;
width: 200px;
top: 10px;
z-index: 2;
/* display: none; */
}


/* parties  test */
.test{
    width: 200px;
    padding: 10px 14px;
    border-radius: 50px;
   
    z-index: 2;
    
}
.CHANGED{
    width: 250px;
    border-radius: 50px;
}

.test .text{
opacity: 1;
}
.test.close{
width: 115px;
}
.test.close .text{
   opacity: 0;
}

@media (max-width:867px){

.site{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 50px;
height: 620px;
width: 250px;
top: 10px;
z-index: 2;
display: none !important;
}
.test{
    width: 200px;
    padding: 10px 14px;
    border-radius: 50px;
    top: 65px;
    z-index: 2;
    display: block !important;
}
.flechete{
    display: none !important;
}
}
@media (max-width:450px){
    .flechete{
        display: block !important;
    }
    .yerry, .merry{
display: none;
    }
    .test{
        margin-top: 30px;
        height: 120px !important;
        width: 80px !important;
    }
}

/* ======================= fin du css pour le dashbords vous pouvez mettre votre css en bas================= */
<<<<<<< HEAD
/* ===============pas touche au css deja present ============= */


.fall {
    z-index: 1;
}
.icon4{
    Width : 20px;
    Height :20px;
    
} 
.selection{
    margin-top: 100px;
}
.flechete{
    height: 30px;
    width: 30px;
    
}
.fall input:focus{
    outline: none !important;
}
.icon5{
height: 30px;
width: 30px;
}
.fas {
    color: blue;
    font-size: 30px;
    
}
body{
    background: #F5F5F5;
   
}
a, .nam{
  text-decoration: none; 
  color: #C7C7C7;
   
}
.mina a:hover, .accordion-header:hover
{
    background: #F0F7FF;
    color: aqua;
}
.accordion-header:hover  .nam{
    color: aqua;
}
.mina a.active{
    background: #F0F7FF;
    color: aqua ;
}
.test a:hover, .test a.active{
    background: #F0F7FF;

}

.site{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 50px;
height: 620px;
width: 200px;
top: 10px;
z-index: 2;
/* display: none; */
}


/* parties  test */
.test{
    width: 200px;
    padding: 10px 14px;
    border-radius: 50px;
   
    z-index: 2;
    
}
.CHANGED{
    width: 250px;
    border-radius: 50px;
}

.test .text{
opacity: 1;
}
.test.close{
width: 115px;
}
.test.close .text{
   opacity: 0;
}



@media (min-width:1160px){



    .site{
        background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 620px;
    width: 280px;
    top: 10px;
    z-index: 2;
    /* display: none; */
    }




}
=======
>>>>>>> 030c222d16a31cc6fb6c60b66fb8350086906390





<<<<<<< HEAD



@media (max-width:867px){

.site{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 50px;
height: 620px;
width: 250px;
top: 10px;
z-index: 2;
display: none !important;
}
.test{
    width: 200px;
    padding: 10px 14px;
    border-radius: 50px;
    top: 70px;
    z-index: 2;
    display: block !important;
}
.flechete{
    display: none !important;
}
}
@media (max-width:450px){
    .flechete{
        display: block !important;
    }
    .yerry, .merry{
display: none;
    }
    .test{
        margin-top: 30px;
        height: 120px !important;
        width: 80px !important;
    }
}

/* ======================= fin du css pour le dashbords vous pouvez mettre votre css en bas================= */

.aaa{
    text-decoration: none;
    color: gray;
}
.aaa:hover{
    color: #2383C4;
}
.bor{
    border: 1px solid #2383C4;
    border-radius: 10px;
}
/* .bor a{
    color: #2383C4;
} */
.nav-item{
    margin-right: 10%;
}
.tab-content{
    background-color: white;
}
thead{
    border:0px !important;
}
/* .table {
    border-bottom:0px !important;
}
.table th, .table td{
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
} */
thead{
    color: #2D9CDB;
}
tr span{
    display: inline-block;
    width: 60px;
    height: 55px;
}
.img{
    background-image: url("image/pro1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-link{
    color: black;
}
.page-link:focus{
    background-color: #2383C4;
    color: #FFFFFF;
}
/* ===========top c'est parti============ */

.aaa{
    text-decoration: none;
    color: gray;
}
.aaa:hover{
    color: #2383C4;
}
.bor{
    border: 1px solid #2383C4;
    border-radius: 10px;
}
/* .bor a{
    color: #2383C4;
} */
.nav-item{
    margin-right: 10%;
}
.tab-content{
    background-color: white;
}
thead{
    border:0px !important;
}
/* .table {
    border-bottom:0px !important;
}
.table th, .table td{
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
} */
thead{
    color: #2D9CDB;
}
tr span{
    display: inline-block;
    width: 60px;
    height: 55px;
}
.img{
    background-image: url("image/pro1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-link{
    color: black;
}
.page-link:focus{
    background-color: #2383C4;
    color: #FFFFFF;
}

/* ===========top c'est parti============ */
=======
/* ===========top c'est parti============ */
>>>>>>> 030c222d16a31cc6fb6c60b66fb8350086906390
